
 <h1>Welcome <%=current_user.username%> </h1>

 <form action="/decks" method="get">
 <input type="submit" value="Play Game">
 </form>

 <p>You have played <%=current_user.rounds.count%> rounds </p>
 <ul>
    <%current_user.rounds.each do |round|%>
    	<li><%=round.id%> Score:<%=round.correct_count+(round.correct_count+round.incorrect_count)%></li>
    <%end%>

 </ul>

