<h1>Welcome to Flashcards 2.0</h2>

<% if @user.nil? %>
<% else %>
  <p><%= @user.username %>, thanks for registering. Please login to continue.</p>
<% end %>

<h4><a href="/users/login">Login</a> | <a href="/users/register">Register</a></h4>